<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">
    <nb-card>
      <nb-card-header>
        Create API Key
      </nb-card-header>

      <nb-card-body>
        <input type="text" fullWidth nbInput placeholder="User" [(ngModel)]="user">
        <textarea nbInput fullWidth placeholder="Description" [(ngModel)]="desc"></textarea>
        <ng-container *ngIf="permSource.length != 0"> <ng2-smart-table [settings]="settings"  [source]="source">
        </ng2-smart-table></ng-container>

      </nb-card-body>
      <nb-card-footer>
        <button class="btn btn-success" (click)="createKey()">Create Key</button>
      </nb-card-footer>
    </nb-card>
  </div>

</div>
