.system-btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.online-status {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}
