
.system-btn-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;

}

.online-status {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}

.icon {
  font-size: 2em;
}

.green {
  color: #c1d72e;
}

.orange {
  color: #ffc423;
}

.red {
  color: #a30046;
}
