<nb-card>
  <nb-card-header>API Server Status</nb-card-header>
  <nb-card-body>
    <div class="online-status">
      <h2>Online status:</h2>
        <i [class]="color"></i>
    </div>

  </nb-card-body>
  <nb-card-footer><div class="system-btn-group">
    <button class="btn btn-success btn-icon" type="button" name="button" (click)="start()"><i data-eva="arrow-right" data-eva-fill="#ffffff"></i></button>
    <button class="btn btn-warning btn-icon" type="button" name="button" (click)="restart()"><i data-eva="refresh" data-eva-fill="#ffffff"></i></button>
    <button class="btn btn-danger btn-icon" type="button" name="button" (click)="stop()"><i data-eva="close-square" data-eva-fill="#ffffff"></i></button>
  </div></nb-card-footer>
</nb-card>
